<!-- templates/base.html -->
{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Trading Platform{% endblock %}</title>
    {% comment %} <link href="{% static 'css/output.css' %}" rel="stylesheet"> {% endcomment %}
    {% tailwind_css %}
</head>
<body>
    <nav class="bg-gray-800 text-white p-4">
        <div class="container mx-auto flex justify-between">
            <a href="{% url 'home' %}" class="font-bold">Trading Platform</a>
            <div>
                <a href="{% url 'about' %}" class="mx-2">About</a>
                <a href="{% url 'login' %}" class="mx-2">Login</a>
                <a href="{% url 'register' %}" class="mx-2">Create an Account</a>
            </div>
        </div>
    </nav>
    {% comment %} <h1>This working?</h1>
    <div id="root"></div> {% endcomment %}
    {% comment %} <script src="{% static 'js/bundle.js' %}"></script> {% endcomment %}
    {% block content %}{% endblock %}
</body>
</html>